.sidebar-height-full {
  min-height: calc(100vh - 148px)
}

.leaflet-logo {
  width: 35px;
  display: inline-block;
}

.leaflet-logo-big {
  width: 120px;
  display: inline-block;
}

.blockquote {
  padding: 10px 20px;
  border-left: 5px solid #eee;
}
